.Signature{
    .baseGrid{
        .bgImage {
            grid-column: 1/3;
            grid-row: 1;
            width: 100%;
        }
        .subGrid{
            grid-column: 1/3;
            grid-row: 1;
            display: grid;
            grid-template-columns: 50px 1fr 30px;
            .info {
                grid-column: 2;
                align-self: center;
                *{
                    margin: 5px;
                }
    
            }
        }

    }
}

@media (min-width: 426px) {
    .Signature{
        .baseGrid{
            .bgImage {
                grid-column: 1/3;
                grid-row: 1;
                width: 100%;
            }
            .subGrid{
                grid-column: 1/3;
                grid-row: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .info {
                    grid-column: 2;
                    padding-right: 40px;
                    align-self: center;
                }
            }
    
        }
    }

}