body {
    background-color: #19062cda;
    background-image: url('../images/assets/background1.jpg');
    background-blend-mode: saturation;
    background-attachment: fixed;
    font-size: 14px;
}

// Defining all fonts family default
* {
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
}

// Headers
h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
}

h5 {
    font-size: 1.1em;
    font-weight: bold;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

// base grid size
.baseGrid {
    display: grid;
    grid-template-columns: 40px 1fr;
}

// Page Transitions
.fadeTranslate-enter {
    position: absolute;
    grid-row: 1;
    
    transform: translate(0, 0);
  }
  
  .fadeTranslate-enter.fadeTranslate-enter-active {
    position: absolute;
    grid-row: 1;
      
    transform: translate(-100vw, 0);
    transition:  transform 750ms ease-in-out;
  }
  
  .fadeTranslate-exit {
    position: absolute;
    grid-row: 1;
      
    transform: translate(0, 0);
  }
  
  .fadeTranslate-exit.fadeTranslate-exit-active {
    position: absolute;
    grid-row: 1;
      
    transform: translate(-100vw, 0);
    transition:  transform 750ms ease-in-out;
  }
  
  .fix-container {
    position: absolute;
  }

// Media query
@media (min-width:426px){
    h1 {
        font-size: 2em;
        font-weight: bold;
    }
    
}