.PicturesSection {
    .grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
        .Carousel {
            grid-column: 2;
        }
    }
    .paragraphsGrid {
        display: grid;
        grid-template-columns: 50px repeat(1, 1fr);
        grid-template-rows: minmax(auto, 1fr);
        p {
            padding: 10px 10px;
        }
        .para1,
        .para2 {
            grid-column: 2;
        }
        .rotate {
            align-self: center;
            width: 100%;
            transform: rotateZ(-90deg);
            grid-column: 1/ 2;
        }
    }
}

@media (min-width: 426px) {
    .PicturesSection {
        .paragraphsGrid {
            grid-template-columns: 50px repeat(2, 1fr);
            grid-template-rows: minmax(auto, 1fr);
            p {
                padding: 10px 10px;
            }
            .para1 {
                grid-column: 2;
            }
            .para2 {
                grid-column: 3;
            }
        }
    }
}