.Carousel{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;

    .slideContainer{
        position: relative;
        left: 0px;
        height: 100%;
        width: 100%;
    }
}