.SideBar {
    position: fixed;
    left: -200px;
    height: 100vh;
    width: 250px;
    // padding: Bad for grid
    display: grid;
    grid-template-columns: 200px 50px;
    background: brown;
    z-index: 1;
    .info{
        display: grid;
        grid-template-columns: 1fr;
        // justify-items: center;
        div{
            // border: sienna 2px solid;
        }
        .menu{
            justify-self: center;
            img{
                height: 40px;
                width: 40px;
            }
        }
        .title{
            //// TODO Work on rotating text and displaying correctly
            // transform: rotateZ(-90deg);
            // width: 50px;
            // height: 200px;
            // display: flex;
            .rotator{
                // height: 50px;
                height: 0px;
                width: 0px;
                display: flex;
                justify-content: center;
                // align-items: center;
                // transform: rotateZ(-90deg);
                // transform-origin: 50% 50%;
                // border: rgb(19, 82, 255) 2px solid;
                h6{
                    width: 200px;
                    // height: 200px;
                    width: 200px;
                    transform: rotateZ(-90deg);
                    // transform-origin: 200px
                    
                }
            }
        }
    }

    .menuLinks{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 40px;
        // justify-items: center;
        align-items: center;
        h5{
            margin-left: 20px;
        }
    }

}