.Footer {
    background-color: $darkPurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .grid {
        display: grid;
        grid-gap: 15px;
        padding: 30px;
        .about {
            grid-row: 1;
            grid-column: 1/3;
        }
        .history {
            grid-row: 2;
        }
        .contact {
            grid-row: 2;
        }
        h5 {
            margin-bottom: 5px;
            color: $lightBlue;
        }
    }
    .copyright {
        padding: 10px;
        color: $lightBlue;
    }
}

@media (min-width: 426px) {
    .Footer {
        div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .grid {
                display: grid;
                grid-template-columns: minmax(100px, 250px) minmax(50px, 100px) minmax(50px, 250px);
                align-items: flex-start;
                grid-gap: 15px;
                padding: 10px;
                .about {
                   
                    grid-row: auto;
                    grid-column: auto;
                }
                .history {
                    grid-row: auto;
                }
                .contact {
                    grid-row: auto;
                }
                h5 {
                    color: $lightBlue;
                    margin-bottom: 5px;
                }
            }
            .copyright {
                padding: 10px;
                color: $lightBlue;
            }
        }
    }
}