.Slider {
    width: 100vw;
    background-color: green;
    .grid {
        background-color: blue;
        display: grid;
        grid-template-columns: 50px 1fr;
        header{
            grid-column: 2;
            display: flex;
            // padding:10px;
            *{
                margin: 0px 5px;
            }
        }
        .slidesContainer{
            width: calc(100vw - 80px);
            grid-column: 2;
            overflow: hidden;
            display: flex;
            .slideCard{
                
            }
        }
    }
}